@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrashColector</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="text-center">
    <h1 class="display-4"></h1>
    <img class=img-thumbnail src="~/lib/bootstrap/dist/css/JunkChucker.Com.png"/>
    <p class="align-middle">Municipal trash collection has remained largely unchanged for decades.<br/> It's time to disrupt the status quo with a flexible, online pickup manager that includes the following features:</p>
    <div>
        <ul>
            <li>Weekly pickup of your choosing</li>
            <li>Pickup on demand</li>
            <li>Frienly Staff</li>
            <li>Quick Service</li>
            <li>No JUNK to Big!</li>
            <li>No JUNK too Small!</li>
        </ul>
    </div>
</div>
